.student-info {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}
.info-item {
    margin-bottom: 10px;
    float: left;
}
#infoID {
    width: 32%;
}
#infoName {
    width: 40%;
}
#infoDOB {
    width: 28%;
}
.info-item:hover {
    cursor: default;
}

/* Đặt các label ở vị trí cố định */
label {
    display: inline-block;
    text-align: right;
}

#studentId {
    width: 100px;
    height: 20px;
    font-family: Times New Roman, serif;
    font-size: 20px;
    text-align: center;
    border: 1px solid #999;
    border-radius: 4px;
    font-weight: bold;
}
.info-output {
    font-weight: bold;
}

.sectionI:hover, .sectionII:hover {
  background-color: #ccc;
  cursor: pointer;
}

.collapsedI .contentI, .collapsedII .contentII{
  display: none;
}

body {
  font-family: Times New Roman, serif;
  font-size: 20px;
  margin: 0;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  border: 2px solid black;
}
th, td {
  border: 1px solid black;
  text-align: left;
  padding: 6px;
}
th {
  background-color: #ffe599;
  text-align: center;
}

/*tr:nth-child(even) {
  background-color: #f2f2f2;
}*/

h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}
th:first-child, td:first-child {
  width: 3%; 
}
th:nth-child(3), td:nth-child(3) {
  width: 9%;
}
th:nth-child(4), td:nth-child(4) {
  width: 5%;
}
td:first-child, td:nth-child(3), td:nth-child(4) {
  text-align: center;
}
td[colspan="2"] {
  text-align: left;
  padding-left: 10px;
}

.section {
    background-color: #fff2cc;
}
.subsection {
    background-color: #cfe2f3;
}

.tongdiem {
    font-weight: bold;
    text-align: center;
}

#studentPoints {
    color: red;
}

.diem-input {
  width: 80%;
  height: 24px;
  font-family: Times New Roman, serif;
  font-size: 20px;
  text-align: center;
  border: 1px solid #999;
  border-radius: 4px;
}
.submit-container {
    display: flex;
    justify-content: center;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 150px;
}
input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Sử dụng media query để thay đổi bố cục khi kích thước màn hình không đủ */
@media only screen and (max-width: 815px) {
    #infoID {
        width: 100%;
        float: none;
    }
    #infoName {
        width: 58%;
    }
    #infoDOB {
        width: 42%;
    }
}
@media only screen and (max-width: 600px) {
    #infoID, #infoName, #infoDOB {
        width: 100%;
        float: none;
    }
}
@media only screen and (max-width: 450px) {
    #studentId {
        height: 18px;
        font-size: 16px;
    }
    #studentName, #studentDOB, label, table, body {
        font-size: 16px;
    }
    h2 {
        font-size: 24px;
    }
    .diem-input {
        font-size: 16px;
    }
}